<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<p>Product Count</p>
<p>
<%= @productCount %>
</p>
<p>Category Count</p>
<p>
<%= @categoryCount %>
</p>

<p>
<%= link_to 'Product Admin Page', [:admin, :products] %>
</p>